<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <ul>
      <li><a href="/hello">Hello</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/react">React</a></li>
      <li><a href="/react-iso">React Iso</a></li>
      <li><a href="/json">JSON</a></li>
      <li><a href="/login">Login</a></li>
    </ul>

    <hr>

    <% if (user) { %>
      <p>Logged in as <strong><%= user.username %></strong>. <a href="/logout">Log Out</a></p>
    <% } else { %>
      <p>You are not logged in</p>
    <% } %>

  </body>
</html>
