{% extends 'templates/base.html' %}

{% block title %}Sign Up - Koa App{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<div class="row">
  <form class="col s12" method="POST" action="/signup">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" name="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" name="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light deep-orange accent-2" type="submit" name="action">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
